@{
    ViewData["Title"] = "Home Page";
    var projectNames = ViewData["ProjectNames"] as List<string>;
    var commits = ViewData["Commits"] as List<Commit>;
}

<ul>
    @foreach (var name in projectNames)
    {
        <li><a href="@Url.Action("ProjectLogs",new { ProjectName = name })">@name</a></li>
    }
</ul>

<div class="row">
    @foreach (var commit in commits)
    {
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-title">
                    @commit.Author-@commit.Committer.When
                </div>
                <div class="panel-body">
                    @commit.Message
                </div>
            </div>
        </div>
    }
</div>